/* VARIABLES */
/* BASE */
html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  overflow: hidden;
  *zoom: 1;
  margin: 0 20px;
}

.site-content {
  padding-top: 66px;
}

/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: rgba(35, 35, 37,0.8);
}

.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;
}

#logo {
    width: 120px;
    margin-top: 15px;
  }

/* MENU */
.menu {
  float: left;
}
.menu a {
  padding: 0 10px;
}
.menu a:hover {
  color: #c5cae9;
}

.logoSmall {
  width: 30px;
  height: 30px;
  float: right;
  padding-top: 15px;
  padding-right: 15px;
}

/* COVER */
#cover {
  padding-top: 100px;
  min-height: 300px;
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* AIM */
#aim {
  min-height: 475px;
  color: black;
  background-color: rgb(246, 245, 240);
  padding: 0 50px;
  padding-bottom: 70px;
}

#aim h1 {
  text-align: center;
  margin: 70px 0;
  font-style: bold;
  font-size: 40px;
}

#aim p {
  font-size: 16px;
  text-align: center;
}

/* OFFER */
.offer-container {
  background-image: url('../images/treadmill.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#offer {
  min-height: 700px;
  color: rgb(179,179,179);
}

  #offer h1 {
      text-align: center;
      margin: 50px 0;
      font-style: bold;
      font-size: 40px;
    }

  #offer h3 {
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    }

#offer p {
    margin-bottom: 0px;
    text-align: center;
    font-size: 11px;
    justify-content: center;
  }

.icon {
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 15px;
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.watch {
  background-image: url('../images/watch.png');

}

.tick {
  background-image: url('../images/tick.png');
}

.pen {
  background-image: url('../images/pen.png');
}

.gym {
  background-image: url('../images/gym.png');
}

.cross {
  background-image: url('../images/cross.png');
  margin-top: 80px;
}

.curve {
  background-image: url('../images/curve.png');
  margin-top: 80px;
}

.circle {
  background-image: url('../images/circle.png');
  margin-top: 80px;
}

.ball {
  background-image: url('../images/ball.png');
  margin-top: 80px;
}

/* ABOUT */

#about {
  min-height: 550px;
  color: black;
  background-color: rgb(246, 245, 240);
  padding-bottom: 70px;
}

#about h1 {
  margin: 50px 0;
  font-size: 40px;
  text-align: center;
}

#about ul li {
  margin: 20px 0 20px 0px;
  font-size: 16px;
}

#about p {
  text-align: justify;
  font-size: 16px;
}

/* CAREER */
#career {
  background-image: url('../images/grass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  color: rgb(179, 179, 179);
  padding-bottom: 20px;
}

#career h4 {
    margin: 40px 0;
  }

#career  p {
    font-size: 16px;
    text-align: justify;
  }

#career  ul li {
    margin: 20px 0 20px 0px;
    font-size: 16px;
  }

/* COOPERATION */
#cooperation {
  min-height: 200px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 40px;
}

.cooperationContainer {
  display: flex;
  justify-content: space-around;
}

.mojra {
  background-image: url('../images/mojra.png');
}

.vr {
  background-image: url('../images/vr2.png');
}

.skills {
  background-image: url('../images/skills.png');
}

.logos {
  height: 130px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* CONTACT */

#contact {
  color: white;
  text-align: center;
}

#contact h1 {
  margin-bottom: 40px;
}

#contact .logoPeak {
  margin-bottom: 40px;

}
#contact .socialMedia {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#contact a {
  color: white;
}

.contact-container {
  background-image: url('../images/run.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.contact-container-icons {
  display: flex;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info a {
  color: white;
}

.logoPeak {
  background-image: url('../images/2.png');
  height: 80px;
  width: 220px;
  background-repeat: no-repeat;
  background-size: cover;
}

.socialMedia .fb {
  background-image: url('../images/fb.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
}

.socialMedia .instagram {
  background-image: url('../images/instagram.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
}

.socialMedia .youtube {
  background-image: url('../images/youtube.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
}

/* FOOTER */
.footer-label {
  font-size: 14px;
  background-color: rgb(36, 36, 38);
  padding-top: 10px;
  padding-bottom: 5px;
  color: rgb(233, 236, 246);
  text-align: center;
}

.footer-label a {
  color: white;
  text-decoration-line: underline;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .site-pusher,
  .site-container {
    /*height: 100%;*/
  }

  .site-container {
    overflow: hidden;
  }

  .site-pusher {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .header {
    position: static;
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(35, 35, 37,0.8);
    /*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    width: 250px;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid rgba(35, 35, 37,0.8);
  }

  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
