.header-container {
  min-height: 600px;
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#offer {
  background-image: url('../images/treadmill.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  height: 7rem;
  width: 7rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 15px;
}

.watch {
  background-image: url('../images/watch.png');
}

.tick {
  background-image: url('../images/tick.png');
}

.pen {
  background-image: url('../images/pen.png');
}

.gym {
  background-image: url('../images/gym.png');
}

.cross {
  background-image: url('../images/cross.png');
}

.curve {
  background-image: url('../images/curve.png');
}

.circle {
  background-image: url('../images/circle.png');
}

.ball {
  background-image: url('../images/ball.png');
}

#career {
  background-image: url('../images/grass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mojra {
  background-image: url('../images/mojra.png');
}

.vr {
  background-image: url('../images/vr2.png');
}

.skills {
  background-image: url('../images/skills.png');
}

.logos {
  height: 13rem;
  width: 13rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
  margin-bottom: 15px;
}

.contact-container {
  background-image: url('../images/run.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logoPeak {
  background-image: url('../images/2.png');
  height: 80px;
  width: 220px;
  background-repeat: no-repeat;
  background-size: cover;
}

.socialMedia .fb {
  background-image: url('../images/fb.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
}

.socialMedia .instagram {
  background-image: url('../images/instagram.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
}

.socialMedia .youtube {
  background-image: url('../images/youtube.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
}
