@import '_onepcssgrid.css';

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Avenir";
}


h1 {
  color: #636F84;
}

header {
  height: 100px;
  background-color: rgb(35, 35, 37);
}

#logo {
  height: 100%;
  padding-top: 22.5px;
}

.navbar-grid {
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

.navbar {
  justify-content: space-between;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
  a {
    margin-left: 10px;
    color: white;
  }
}

.cover-container {
  margin: 0 auto;
  height: 500px;
  background-color: rgb(70, 100, 93);
    .cover-image {
      background-position: center;
    }
}

.cover-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 400px;
  font-family: 'Source Serif Pro', serif;
  color: rgb(182, 192, 200);
}

#contact {
  color: white;
    text-align: center;
    img {
      height: 40px;
    }
}

.contact-container {
  background-color: rgb(187, 207, 153);
  height: 300px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  a {
    color: white;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

form {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    margin-top: 10px;
  }
}

.footer-icons {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 72, 48);
}

.footer-label {
  font-size: 14px;
  background-color: rgb(7, 41, 22);
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(233, 236, 246);
  text-align: center;
}

.footer-icon-img {
  width: 30px;
  margin: 0 20px;
}
