@import '_onepcssgrid.css';

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

h1 {
  color: #636F84;
}

header {
  height: 585px;
}

.headerNavbar{
  height: 100px;
  background-color: rgba(35, 35, 37,0.8);
}

#logo {
  height: 100%;
  padding-top: 22.5px;
}

.navbar-grid {
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

.navbar {
  justify-content: space-between;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
  a {
    margin-left: 10px;
    color: white;
  }
}

#aim {
  height: 475px;
  color: black;
  text-align: center;
  background-color: rgb(246, 245, 240);
  padding: 0 50px;
  h1 {
    margin: 70px 0;
    font-style: bold;
    font-size: 40px;
    font-family: "Lato";
  }
  p {
    font-size: 14px;
  }
}

#offer {
  height: 800px;
  color: rgb(179,179,179);
  text-align: center;

  h1 {
    margin: 50px 0;
    font-style: bold;
    font-size: 40px;
    font-family: "Lato";
  }
  p {
    margin-bottom: 0px;
    font-size: 14px;
  }
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

#about {
  height: 500px;
  color: black;
  background-color: rgb(246, 245, 240);
  h1 {
    margin: 50px 0;
    font-size: 40px;
    text-align: center;
  }
  ul li {
    margin: 20px 0 20px 20px;
  }
}

#career {
  height: 600px;
  color: rgb(179, 179, 179);
  h4 {
    margin: 40px 0;
  }
  ul li {
    margin: 20px 0 20px 20px;
  }
}

#cooperation {
  height: 300px;
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

.cooperationContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}


#contact {
  color: white;
    text-align: center;
    img {
      height: 40px;
    }
}

.contact-container {
  height: 500px;
}

.contact-container-icons {
  display: flex;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  a {
    color: white;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-label {
  font-size: 14px;
  background-color: rgb(36, 36, 38);
  padding-top: 10px;
  padding-bottom: 5px;
  color: rgb(233, 236, 246);
  text-align: center;
}
