@import '_onepcssgrid.css';

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

h1 {
  color: #636F84;
}

header .onerow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -50px;
}

.headerNavbar {
  height: 105px;
  background-color: rgba(35, 35, 37,0.8);
  margin-top: 40px;
  #logo {
    width: 120px;
    margin-top: 10px;
  }
  .navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
    a {
      margin-left: 2vw;
      color: white;
      font-size: 1.2vw;
    }
    //@media (max-width: 770px) {
      //display: none;
    //}
  }
  .socialMediaSmall {
    width: 100px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 758px) {
      display: flex;
      justify-content: space-around;
      width: 40px;
      margin-left: 40px;
    }
    #fbSmall {
      width: 2vw;
      height: 2vw;
    }
    #instagramSmall {
      width: 2vw;
    }
    #youtubeSmall {
      width: 2vw;
    }
  }
}

#aim {
  min-height: 475px;
  color: black;
  text-align: center;
  background-color: rgb(246, 245, 240);
  padding: 0 50px;
  padding-bottom: 70px;
  h1 {
    margin: 70px 0;
    font-style: bold;
    font-size: 40px;
    font-family: "Lato";
  }
  p {
    font-size: 14px;
  }
}

#offer {
  min-height: 800px;
  color: rgb(179,179,179);
  text-align: center;
  h1 {
    margin: 50px 0;
    font-style: bold;
    font-size: 40px;
    font-family: "Lato";
  }
  p {
    margin-bottom: 0px;
    font-size: 14px;
  }
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

#about {
  min-height: 500px;
  color: black;
  background-color: rgb(246, 245, 240);
  padding-bottom: 70px;
  h1 {
    margin: 50px 0;
    font-size: 40px;
    text-align: center;
  }
  ul li {
    margin: 20px 0 20px 20px;
  }
}


#career {
  min-height: 700px;
  color: rgb(179, 179, 179);
  padding-bottom: 70px;
  h4 {
    margin: 40px 0;
  }
  ul li {
    margin: 20px 0 20px 20px;
  }
}

#cooperation {
  height: 300px;
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

.cooperationContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}


#contact {
  color: white;
    text-align: center;
    h1 {
      margin-bottom: 40px;
    }
    .logoPeak {
      margin-bottom: 40px;
    }
    .socialMedia {
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    a {
      color: white;
    }
}

.contact-container {
  height: 500px;
}

.contact-container-icons {
  display: flex;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  a {
    color: white;
  }
}

.footer-label {
  font-size: 14px;
  background-color: rgb(36, 36, 38);
  padding-top: 10px;
  padding-bottom: 5px;
  color: rgb(233, 236, 246);
  text-align: center;
  a {
    color: white;
    text-decoration-line: underline;
  }
}
